{% extends "partials/base.html" %}
{% load static %}
{% block title %}
    Agencije
{% endblock title %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% include "partials/page-title.html" with pagetitle="Agencije" title="Agencije" title_key="t-agencies" %}
                <div class="row g-4 mb-3">
                    <div class="col-sm-auto">
                        <button data-bs-toggle="modal"
                                data-bs-target="#createAgencyModal"
                                class="btn btn-success">
                            <i class="ri-add-line align-bottom me-1"></i> <span data-key="t-add-agency">Dodaj Novu Agenciju</span>
                        </button>
                    </div>
                </div>
                <div id="agency-row" class="row">
                    {% for agency in agencies %}
                        {% include "partials/agency-card.html" with agency=agency %}
                    {% endfor %}
                </div>
            </div>
            {% include "partials/create-modal.html" %}
        </div>
        {% include "partials/footer.html" %}
    </div>
{% endblock content %}
