SECRET_KEY=
DEBUG=
DATABASE_ENGINE=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DJANGO_SETTINGS_MODULE=
SENTRY_ENV=
ALLOWED_HOSTS=

# Django Vite Local Dev Config
DJANGO_ORIGIN=
VITE_HOST=
VITE_PORT=
