{% extends "partials/base.html" %}
{% load static %}
{% block title %}
    Pregled Dana
{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with title="Pregled Dana" %}
                {% endblock pagetitle %}
                <div class="row">
                    {% include "partials/table.html" with rides=transfers table_title="Transferi" %}
                    {% include "partials/table.html" with rides=excursions table_title="Izleti" %}
                    {% include "partials/table.html" with rides=lines table_title="Linije" %}
                </div>
            </div>
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>
    <!-- Dashboard init -->
    <script src="{% static 'js/pages/dashboard-crm.init.js'%}"></script>
{% endblock extra_js %}
