{% extends "partials/base.html" %}
{% load static %}
{% block title %}
    Defects
{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <div class="card">
                            <div class="accordion accordion-flush filter-accordion">
                                <div class="card-body border-bottom">
                                    <div>
                                        <p class="text-muted text-uppercase fs-12 fw-medium mb-2"
                                           data-key="t-vehicles">Vozila</p>
                                        <ul class="list-unstyled mb-0 filter-list overflow-auto"
                                            style="max-height: 70vh;">
                                            <li>
                                                <a href="{% url 'defect:defects' %}"
                                                   class="d-flex py-1 align-items-center">
                                                    <div class="flex-grow-1">
                                                        <h3 class="fs-12 mb-0 listname" data-key="t-all-vehicles">Sva Vozila</h3>
                                                    </div>
                                                </a>
                                            </li>
                                            {% for vehicle in vehicles %}
                                                <li>
                                                    <a href="{% url 'defect:defects' %}?vehicle={{ vehicle.pk }}"
                                                       class="d-flex py-1 align-items-center">
                                                        <div class="flex-grow-1">
                                                            <h5 class="fs-12 mb-0 listname">{{ vehicle.licence_number }}</h5>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <ul class="nav nav-tabs mb-3" id="defectsTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active"
                                        id="active-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#active-defects"
                                        type="button"
                                        role="tab">Aktivni kvarovi</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link"
                                        id="resolved-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#resolved-defects"
                                        type="button"
                                        role="tab">Riješeni kvarovi</button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="active-defects" role="tabpanel">
                                <div class="row">
                                    {% for defect in active_defects %}
                                        {% include "partials/defect-card.html" with defect=defect is_fixed=True button_text="Oznaci kao popravljeno" %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="resolved-defects" role="tabpanel">
                                <div class="row">
                                    {% for defect in resolved_defects %}
                                        {% include "partials/defect-card.html" with defect=defect  is_fixed=False button_text="Nije popravljeno" %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
{% endblock content %}
