<tr id="row-{{ driver.id }}">
    <td class="name">
        <div class="flex-grow-1 ms-2 name">{{ driver.first_name }} {{ driver.last_name }}</div>
    </td>
    <td class="company_name">{{ driver.phone_number }}</td>
    <td class="email_id">{{ driver.email }}</td>
    <td class="phone">{{ driver.passport_number }}</td>
    <td>
        <ul class="list-inline hstack gap-2 mb-0">
            <li class="list-inline-item edit"
                data-bs-toggle="tooltip"
                data-bs-trigger="hover"
                data-bs-placement="top"
                title="Call">
                <a href="javascript:void(0);" class="text-muted d-inline-block">
                    <i class="ri-phone-line fs-16"></i>
                </a>
            </li>
            <li class="list-inline-item edit"
                data-bs-toggle="tooltip"
                data-bs-trigger="hover"
                data-bs-placement="top"
                title="Message">
                <a href="javascript:void(0);" class="text-muted d-inline-block">
                    <i class="ri-question-answer-line fs-16"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <div class="dropdown">
                    <button class="btn btn-soft-secondary btn-sm dropdown"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="ri-more-fill align-middle"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item edit-item-btn"
                               hx-get="{% url 'driver:driver_edit_form' driver.id %}"
                               hx-target="#editDriverModal .modal-body"
                               hx-swap="innerHTML"
                               data-bs-toggle="modal"
                               data-bs-target="#editDriverModal"
                               href="javascript:void(0);"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                Izmijeni</a>
                        </li>
                <li>
                    <a class="dropdown-item remove-item-btn"
                       data-bs-toggle="modal"
                       data-bs-target="#deleteDriverModal"
                       data-delete-url="{% url 'driver:driver_delete' pk=driver.id %}"
                       href="javascript:void(0);">
                        <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                        Obriši
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
</td>
</tr>
