{% extends "partials/base.html" %}
{% load static %}
{% block title %}
    Rides
{% endblock title %}
{% block extra_css %}
    <link href="{% static 'libs/swiper/swiper-bundle.min.css' %}"
          rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet"
          href="{% static 'libs/flatpickr/dist/flatpickr.min.css' %}">
{% endblock extra_css %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="d-flex justify-content-end mb-3">
                <button type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#reportDefectModal"
                        class="btn btn-primary">Prijavi kvar</button>
            </div>
            {% include "partials/report-defect-modal.html" %}
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Pages" title="Voznje" %}
                {% endblock pagetitle %}
                <div class="col-lg-6">{% include "partials/select-rides-date.html" %}</div>
                <div class="row mt-4">
                    <div class="col-lg-6">
                        {% if rides %}
                            <div>
                                <div class="timeline-2">
                                    {% for ride in rides %}
                                        <div class="timeline-continue">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="timeline-year">
                                                        <p>{{ ride.start_date }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row timeline-right">
                                                <div class="col-12">
                                                    <p class="timeline-date" data-key="t-departure">Polazak{{ ride.start_time }}</p>
                                                </div>
                                                <div class="col-12">
                                                    <div class="timeline-box">
                                                        <div class="timeline-text">
                                                            <h5 class="fs-15">{{ ride.title }}</h5>
                                                            <ul class="mb-0 text-muted vstack gap-2">
                                                                <li>
                                                                    <strong data-key="t-departure-location">Mjesto polaska:</strong> {{ ride.start_location }}
                                                                </li>
                                                                <li>
                                                                    <strong data-key="t-agency">Agencija:</strong> {{ ride.agency }}
                                                                </li>
                                                                <li>
                                                                    <strong data-key="t-ride-type">Tip:</strong> {{ ride.get_ride_type_display }}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <h4 data-key="t-no-result">Nema rezultata</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'libs/swiper/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'js/pages/timeline.init.js'%}"></script>
    <script src="{% static 'libs/flatpickr/dist/flatpickr.min.js' %}"></script>
    <script>
      flatpickr("#start_date", { dateFormat: "Y-m-d", altInput: true, altFormat: "d/m/Y", allowInput: true });
    </script>
{% endblock extra_js %}
