{% extends "partials/base.html" %}
{% load static %}
{% block title %}Apex Slope Charts{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
       <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Apexcharts" title="Slope" %}
                    {% endblock pagetitle %}
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Basic Chart</h4>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div id="basic_charts" data-colors='["--vz-primary", "--vz-success", "--vz-danger"]' class="apex-charts" dir="ltr"></div>
                                </div><!-- end card-body -->
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->

                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Multi Group</h4>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div>
                                        <div id="multi_charts" data-colors='["--vz-primary", "--vz-success", "--vz-warning", "--vz-danger"]' class="apex-charts" dir="ltr"></div>
                                    </div>
                                </div><!-- end card-body -->
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
            </div>

            <!-- end main content-->
    {% endblock content %}
    {% block extra_js %}
        <!-- glightbox js -->
        <script src="{% static 'libs/glightbox/dist/js/glightbox.min.js'%}"></script>

        <!-- isotope-layout -->
        <script src="{% static 'libs/isotope-layout/dist/isotope.pkgd.min.js'%}"></script>

        <script src="{% static 'js/pages/gallery.init.js'%}"></script>
                
         <!-- apexcharts -->
         <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
        <!-- slope charts init -->
        <script src="{% static 'js/pages/apexcharts-slope.init.js'  %}"></script>
    {% endblock extra_js %}