.mobileCard {
  background: #FFFFFF;
  max-width: 450px;
  min-height: 47rem;

  &>h4 {
    padding: 1rem;
    margin-top: 2rem;
    font-family: var(--font-display);
    color: #3F73C1;
  }

  &>a {
    font-family: var(--font-display);
    text-align: center;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: #3F73C1;
  }


  @media screen and (min-width: 1151px) {
    display: none;
  }
}


.logoA {
  text-decoration: none;
  color: #000000;
}

.cardHeader {
  display: flex;
  gap: .5rem;
  border-bottom: 1px solid #EBECF0;
  padding: 1rem;

  &>h3 {
    font-weight: 500;
  }

}

.lowerTextWrapper {
  padding: 1rem;

  &>h5 {
    color: #4580BE;
    text-transform: uppercase;
    font-family: var(--font-body);
    font-weight: 500;
    font-size: .8rem;
  }


  &>h2 {
    font-size: 1.5rem;
    font-family: var(--font-display);
    font-weight: 500;
    margin: .5rem 0;
  }

  &>p {
    font-size: .9rem;
    color: #8E939A;
    font-family: var(--font-body);
  }
}

.lowerPWrapper {
  margin-top: 3rem;
  text-align: center;

  &>p {
    font-size: .9rem;
    color: #8E939A;
    font-family: var(--font-body);

    &>a {
      color: #8E939A;
    }
  }
}
