{% load static %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="calendar" data-vehicle-id="{{ vehicle.id }}"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="event-update-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header p-3 bg-info-subtle">
                <h5 class="modal-title">Nova vožnja</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-hidden="true"></button>
            </div>
            <div class="modal-body p-4">
                <form id="form-update-event">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Naziv</label>
                        {{ ride_form.title }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tip vožnje</label>
                        {{ ride_form.ride_type }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Agencija</label>
                        {{ ride_form.agency }}
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label class="form-label">Datum početka</label>
                            {{ ride_form.start_date }}
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label">Datum završetka</label>
                            {{ ride_form.end_date }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label class="form-label">Vrijeme početka</label>
                            {{ ride_form.start_time }}
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label">Vrijeme završetka</label>
                            {{ ride_form.end_time }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label class="form-label">Početna lokacija</label>
                            {{ ride_form.start_location }}
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label">Završna lokacija</label>
                            {{ ride_form.end_location }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Vozači</label>
                        {{ ride_form.drivers }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Vodiči</label>
                        {{ ride_form.guides }}
                    </div>
                    <input type="hidden" name="vehicles" value="{{ vehicle.id }}">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Zatvori</button>
                        <button type="submit" class="btn btn-success" id="btn-save-event">Dodaj vožnju</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
