{% if form.errors %}
    <div class="alert alert-danger">
        {% for field in form %}
            {% for error in field.errors %}<p>{{ field.label }}: {{ error }}</p>{% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
    </div>
{% endif %}
<div class="mb-3">
    <label for="doc-title" class="form-label">Naziv dokumenta</label>
    {{ form.title }}
</div>
<div class="mb-3">
    <label for="doc-type" class="form-label">Tip dokumenta</label>
    {{ form.document_type }}
</div>
<div class="mb-3">
    <label for="doc-expiry" class="form-label">Datum isteka</label>
    {{ form.expiring_at }}
</div>
<div class="mb-3">
    <label for="doc-file" class="form-label">Fajl</label>
    {{ form.file }}
</div>
