<tr>
  <th class="ps-0" scope="row"><span data-key="t-brand">Marka</span> :</th>
  <td class="text-muted">{{ vehicle.brand }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row"><span data-key="t-model">Model</span> :</th>
  <td class="text-muted">{{ vehicle.model }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row"><span data-key="t-vehicle-type">Vrsta</span> :</th>
  <td class="text-muted">{{ vehicle.get_vehicle_type_display }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row"><span data-key="t-year-of-production">Godina proizvodnje</span> :</th>
  <td class="text-muted">{{ vehicle.year_of_production }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row"><span data-key="t-num-seats">Broj sjedišta</span> :</th>
  <td class="text-muted">{{ vehicle.number_of_seats }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row"><span data-key="t-chassis-number">Broj šasije</span> :</th>
  <td class="text-muted">{{ vehicle.chassis_number }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row"><span data-key="t-engine-number">Broj motora</span> :</th>
  <td class="text-muted">{{ vehicle.engine_number }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row"><span data-key="t-horse-power">Konjska snaga</span> :</th>
  <td class="text-muted">{{ vehicle.horse_power }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row"><span data-key="t-weight">Kilaža (KG)</span> :</th>
  <td class="text-muted">{{ vehicle.weight }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row"><span data-key="t-licence-number">Broj tablica</span> :</th>
  <td class="text-muted">{{ vehicle.licence_number }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row"><span data-key="t-color">Boja</span> :</th>
  <td class="text-muted">{{ vehicle.color }}</td>
</tr>
