<tr>
  <th class="ps-0" scope="row">Marka :</th>
  <td class="text-muted">{{ vehicle.brand }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row">Model :</th>
  <td class="text-muted">{{ vehicle.model }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row">Vrsta :</th>
  <td class="text-muted">{{ vehicle.get_vehicle_type_display }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row">Godina proizvodnje :</th>
  <td class="text-muted">{{ vehicle.year_of_production }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row">Broj sjedišta :</th>
  <td class="text-muted">{{ vehicle.number_of_seats }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row">Broj šasije :</th>
  <td class="text-muted">{{ vehicle.chassis_number }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row">Broj motora :</th>
  <td class="text-muted">{{ vehicle.engine_number }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row">Konjska snaga :</th>
  <td class="text-muted">{{ vehicle.horse_power }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row">Kilaža (KG) :</th>
  <td class="text-muted">{{ vehicle.weight }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row">Broj tablica :</th>
  <td class="text-muted">{{ vehicle.licence_number }}</td>
</tr>
<tr>
  <th class="ps-0" scope="row">Boja :</th>
  <td class="text-muted">{{ vehicle.color }}</td>
</tr>
