.bg-purple-subtle {
  background-color: #f3e8ff;
}

.bg-pink-subtle {
  background-color: #ffe4e6;
}

.bg-teal-subtle {
  background-color: #e6fffa;
}

.bg-orange-subtle {
  background-color: #fff7ed;
}
.auth-one-bg {
  background-image: url("/static/images/your-image.jpg");
}
.fc-event {
  cursor: pointer;
}
.header-item {
  background-color: #e9cf8f;
}
#page-topbar {
  background-color: #e9cf8f;
}
#page-header-notifications-dropdown.show,
#page-header-notifications-dropdown:active,
#page-header-notifications-dropdown:focus {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
}
